@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary-color: #070F2B;
  --secondary-color: #1B1A55;
  --tertiary-color: #535C91;
  --quarternary-color: #9290C3;
}

.bg-layer-digital {
  background: url('../public/svgs/layered-steps-haikei.svg') no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer base {
  h1 {
    @apply font-bold text-2xl mb-3;
  }
}